/*
classes used: 
container
header.
viewScores
info
intro
description

ids used:
time
highscores
startButton
quiz-questionnaire
results
form
final score
initials
submit
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    display
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 800px;
    max-width: 100%;
    display: block;
    text-align: center;
    background-color: rgb(206, 180, 180);
    border-radius: 10px;
    padding: 10px;
}

title {
    font-style: bold;
}

.header {
    padding: 20px;
    color: #4e3939;
    text-align: center;
}

.headersection {
    float: left;
    text-align: center;
}

#time {
    float: right;
}

.hide {
    display: none;
}

div {
    font-size: 1rem;
}

title {
    font-size: 1.2rem;
}

li, ol {
    list-style: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    background-color:rgb(163, 93, 163);
    border-style: solid;
    border-radius: 20px;
    width: 30%;
    padding: 20px;
    cursor: pointer;
}

#highScores, #savedScores {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.info {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border-style: double;
    background-color: rgb(132, 72, 160);
    opacity: 0.8;
    border-color: rebeccapurple;
}

.description {
    padding: 20px;

}

button {
    padding: 10px;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 10px;
    background-color: rgb(76, 12, 112);
    cursor: pointer;
    border-style: double;
}

#results {
    text-align: center;
}


#results {
    text-align:center;
}

button:hover {
    opacity: 0.8;
}

form {
    padding: 10px;
    margin: 10px;
    height: 30px;
    margin-bottom: 10px;
}

